<!DOCTYPE html>
<html>
  <head>
    <title>ログインフォーム</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@2.6.10"></script>
  </head>
  <body>

    <div id="login-example">
      <user-login></user-login>
    </div>

    <script type="text/x-template" id="login-template">
      <div id="login-template">
        <div>
          <input type="text" placeholder="ログインID" v-model="userid">
        </div>
        <div>
          <input type="password" placeholder="パスワード" v-model="password">
        </div>
        <button @click="login()">ログイン</button>
      </div>
    </script>

    <script src="app.js"></script>

  </body>
</html>
