<!DOCTYPE html>
<html>
  <head>
    <title>Section17</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@2.6.10"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
    </style>
  </head>
  <body>

    <div id="app">
      <select v-model="current">
        <option v-for="topic in topics" v-bind:value="topic.value">
          {{ topic.name }}
        </option>
      </select>
      <div v-for="item in list">{{ item.full_name }}</div>
    </div>

    <script src="app.js"></script>

  </body>
</html>
