<!DOCTYPE html>
<html>
  <head>
    <title>CH03 コンポーネント間の通信</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@2.6.10"></script>
  </head>
  <body>

    <div id="app">
      <item-desc v-bind:item-name="myItem"></item-desc>
    </div>

    <div id="fruits-component">
      <ol>
        <fruits-item-name v-for="fruit in fruitsItems" :key="fruit.name" :fruits-item="fruit">
        </fruits-item-name>
      </ol>
    </div>

    <div id="fruits-counter">
      <div v-for="fruit in fruits">
        {{ fruit.name }}: <counter-button v-on:increment="incrementCartStatus()"></counter-button>
      </div>
      <p>合計: {{ total }}</p>
    </div>

    <script src="app.js"></script>

  </body>
</html>
